.articles {
  width: 50%;
}

.article-container {
  display: flex;
  width: 100%;
  margin: 15px;
  text-decoration: none;
  color: #312b2b;
}

.article-container:hover {
  background-color: #ccc;
}

.article-title {
  text-transform: uppercase;
}

.article-img-container {
  align-self: center;
}

.article-img {
  height: 120px;
}

.article-info-container {
  padding: 20px;
}

.article-date {
  text-align: right;
}

.article-author {
  text-align: right;
}
